body {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    background: url("../images/spikes.png");
    color: rgb(30, 30, 133);
}

.ss {
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    background-color: lightslategray;
   
    
}
#wordMain {
    text-decoration: none;
    color: rgb(161, 9, 9);
    
}

#two {
    display: none;
    max-width:1000px;
    
}
#three {
    display: none;
    max-width:1000px;
    
}
.state {
    padding-top: 3%;
}

